@media (max-width: 900px) {
    .articleHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1440px) {
    .headerContainerLogin {
        display: flex;
    }
    .mainContainerLogin {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .mainLoginContainer {
        flex-direction: column-reverse;
    }

    .leftSection {
        display: none;
    }

    .rightSection {
        flex: 1;
        padding: 20px;
    }

    .rightSectionUm {
        font-size: 1.2rem;
    }

    .rightSectionUm .titleUm {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .formLoginContainer {
        font-size: 1.1rem;
    }

    .inputLogin,
    .buttonLogin {
        padding: 12px 20px;
    }
    .footerLoginContainer{
        flex-direction: column;
    }
}


