.vscode
target
cache
scripts
.scannerwork
docs/.*
dist
dist/**
**/bin
**/obj
**/.idea
docs/proposal/.~lock.Atualização Vulture.odt#
.vs
.idea
.database
.temp
fleet*
.env
docs/HtmlView
docs/html-docs
src/appsec-server/AppSec/appsettings.json
/src/appsec-server/AppSec/appsettings.json
