.imageLogin,
.personagemLogin,
.tree,
.rectangle {
    display: block;
}

.imageLogin {
    display: block;
    max-width: 80%;
}

.personagemLogin {
    width: 70%;
    max-width: 600px;
}

.personagemLogin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tree {
    width: 20%;
    max-width: 150px;
    position: fixed;
    bottom: 20px;
}

.mainLoginContainer {
    display: flex;
    position: relative;
    height: 100vh;
}

.logoLogin {
    max-width: 150px;
    padding: 40px 30px;
}

.leftSection {
    flex: 2;
    background-color: var(--background-color-primary);
    z-index: -2;
    position: relative;
    align-items: center;
    justify-content: center;
}

.rightSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    flex: 1.25;
    background-color: var(--background-color-secondary);
    max-width: 420px;
}

.rightSectionUm {
    width: 100%;
    max-width: 100%;
}

.rectangle {
    position: fixed;
    width: 100vw;
    height: 70vh;
    bottom: -200px;
    right: 50px;
    background-color: var(--background-color-quinzenario);
    transform: rotate(-10deg);
    z-index: -1;
}

.titleUm {
    margin: 0;
    color: var(--color-title-two);
    font-size: 1.5rem;
}

.paragrafoPrincipal {
    margin: 5px 0;
}

.paragrafo {
    color: var(--color-title-four);
}

.formLoginContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    width: 100%;
}

.inputLogin {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: var(--color-title-two);
    background-color: var(--background-color-primary);
    border: 1px solid var(--border-box-primary);
    box-shadow: var(--border-box-primary);
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 6px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.inputLogin:focus {
    outline: none;
    border-color: var(--background-color-quartenario);
    color: var( --color-title-five);
}

.inputLogin::placeholder {
    color: var(--color-title-one);
    position: absolute;
    bottom: 20;
    left: 20px;
    transition: transform 0.3s ease;
}

.inputLogin:focus::placeholder {
    transform: translateY(-200%);
}

.footerLoginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.divLoginUm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttonLogin {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-title-two);
    background-color: var(--contrast-color);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.buttonLogin:hover {
    background-color: var(--contrast-color-two);
}

.linkLogin {
    text-decoration: none;
    color: var(--contrast-color);
    font-weight: 400;
}

.checkboxLoginContainer {
    display: flex;
    align-items: center;
}

.checkboxLogin {
    display: none;
}

.forgotContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-checkbox {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background-color: var(--color-title-two);
    border: 2px solid var(--border-color);
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.checkboxLogin:checked + .custom-checkbox {
    background-color: var(--contrast-color);
    border-color: var(--contrast-color);
}

.checkboxLogin:checked + .custom-checkbox::after {
    content: "\2713";
    font-size: 12px;
    color: var(--color-title-two);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    font-weight: bold;
}

.custom-checkbox:hover {
    background-color: #f0f0f0;
}

.passwordToggleContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.passwordToggle {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url("../img/eye.svg");
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.passwordToggle.hidePassword {
    background-image: url("../img/eyeOff.svg");
}

@media (max-width: 900px) {
    #root, body, html {
        width: 100vw;
        height: 100vh;
    }
    #root{

        width: 100vw !important;
        height: 100vh !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: var(--background-color-secondary);
    }
    .mainLoginContainer {
        max-width: 700px;
        margin: 0 auto;
        background-color: var(--background-color-secondary);
    }

    .leftSection {
        display: none;
    }

    .rightSection {
        flex: 1;
        padding: 30px;
        max-width: none;
        width: 100%;
        box-sizing: border-box;
    }

    .rectangle,
    .tree,
    .personagemLogin-container {
        display: none;
    }
}
