.appMenuDockContainer {
    margin: 0;
    padding: 0;
    background-color: transparent !important;
    width: 400px !important;
    height: 120px !important;
}

.appMenuDockContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background-color: var(--background-color-secondary);
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

.appOption > img {
    max-width: 60px;
    border-radius: 6px;
}

.appOption{
    border: 3px solid transparent;
    border-radius: 6px;
    background-color: transparent;
}

.appOption:hover {
    border: 3px solid var(--contrast-color);
    border-radius: 6px;
}

.openCloseMenuDock {

    background-color: var(--background-color-secondary);
    border-radius: 6px;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.3s ease;
}

.openCloseMenuDock.closed {
    bottom: 20px;
    transform: translateX(-50%);
}

.openCloseMenuDock > img {
    max-width: 30px;
    transition: transform 0.3s ease;
}

.openCloseMenuDock.closed > img {
    transform: rotate(180deg);
}

.titlebar {
    height: 30px;
    background: #329ea3;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    user-select: none;
    -webkit-user-select: none;
  }
  .titlebar-button:hover {
    background: #5bbec3;
  }
