@media (max-width: 600px) {
    .dashboards {
        display: flex;
        flex-direction: column;
    }
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileContainer {
    max-width: 1200px;
    width: 100%;
    margin-bottom: 20px;
}

.profileInfo {
    position: relative;
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    gap: 20px;
    background-color: var(--background-color-secondary);
    padding: 20px;
    border-radius: 0px 0px 6px 6px;
}

.profile {
    border-radius: 6px;
}

.banner {
    height: 200px;
    width: 100%;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    justify-content: center;
}

.disconnectButton,
.buttonEditProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    background-color: var(--background-color-quartenario);
    border-radius: 6px;
    width: 150px;
    height: 30px;
    font-size: 1rem;
    color: var(--color-title-two);
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
    box-shadow: var(--border-box-primary);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.imgDisconnectButton,
.imgEditProfile {
    max-width: 20px;
}

.infoContainer,
.infoContainer * {
    margin: 0;
    padding: 0px 0px 10px 0px;
}

.infoContainer > p {
    font-size: 0.9rem;
}

.infoContainer > h2 {
    color: var(--color-title-two);
}
.infoContainer > p {
    color: var(--color-title-one);
}

.dashboardsContainer {
    max-width: 1200px;
    width: 100%;
    border-radius: 6px;
}

.dashboards {
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 20px;
    flex-wrap: wrap;
}

.primaryContainer {
    border-radius: 6px;
    background-color: var(--background-color-secondary);
    max-width: 100%;
    height: 500px;
    padding: 5px 20px;
}

.primaryContainer > h1,
h2 {
    color: var(--color-title-two);
}

.primaryContainer h4 {
    color: var(--color-title-six);
    font-weight: 400;
    font-size: 0.9rem;
}

.primaryContainer h3 {
    color: var(--color-title-two);
    font-weight: 500;
    font-size: 1.15rem;
}

.primaryContainer > p {
    color: var(--color-title-one);
    font-size: 0.9rem;
    font-weight: 400;
}

.primaryContainer strong {
    color: var(--color-title-one);
    font-size: 0.9rem;
    font-weight: 600;
}

.overview {
    height: 150px;
}

.projects {
    grid-column: 1/-1;
}

.connectionsTeams {
    height: 300px;
}

.connectionsTeamsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
