.title {
    color: var(--color-title-two);
    font-size: 2.25rem;
    font-weight: 900;
}

.articleHeader {
    background-color: var(--background-color-secondary);
    border-radius: 10px 10px 0 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.newProject {
    text-decoration: none;
    background-color: var(--background-color-quartenario);
    border-radius: 6px;
    padding: 15px 30px;
    font-size: 1rem;
    color: var(--color-title-two);
    font-weight: 600;
    border: none;
    box-shadow: var(--border-box-primary);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.newProject::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border: 2px solid transparent;
    border-radius: 6px;
    animation: rotateBorder 5s linear infinite;
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.newProject:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-secondary);
    background-color: var(--background-color-terciario);
    color: var(--color-title-two);
}

.mainProjectsContainer {
    margin: 20px auto;
    background-color: var(--background-color-primary);
    position: relative;
    max-width: 1440px;
}

.articleContainer {
    border-radius: 0 0 10px 10px;
    padding: 20px;
    position: relative;
    background-color: var(--background-color-secondary);
    box-shadow: var(--border-box-primary);
}

.articleItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    padding: 0px 20px;
    border: 1px solid var(--border-box-primary);
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.articleItem:hover {
    background-color: var(--background-color-primary);
}

.articleItem > h3 {
    color: var(--color-title-two);
    font-size: 0.9rem;
    font-weight: 400;
}

.articleLink {
    display: flex;
    gap: 20px;
}

.articleLink > a > img {
    max-width: 20px;
}

.submit,
.close {
    text-decoration: none;
    border: none;
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 0.9rem;
    color: var(--color-title-two);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease,
        color 0.3s ease;
    flex-grow: 1;
    max-width: 300px;
}

.submit {
    background-color: var(--background-color-quartenario);
    color: var(--color-title-two);
    box-shadow: var(--border-box-primary);
    font-weight: 600;
}

.close {
    background-color: var(--background-color-primary);
    border: 1px solid var(--border-box-secondary);
    color: var(--color-title-three);
    box-shadow: var(--border-box-primary);
    font-weight: 600;
}

.submit:hover,
.close:hover {
    box-shadow: var(--box-shadow-secondary);
}

.submit:focus,
.close:focus {
    outline: none;
}

.submit:focus-visible,
.close:focus-visible {
    box-shadow: var(--box-shadow-secondary),
        0 0 0 2px var(--background-color-header);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.formContainer > input {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: var(--color-title-two);
    background-color: var(--background-color-secondary);
    border: 1px solid var(--border-box-primary);
    box-shadow: var(--border-box-primary);
    padding: 15px 10px;
    font-size: 0.9rem;
    width: 100%;
    border-radius: 6px;
}

.formContainer input:focus {
    outline: none;
    border-color: var(--background-color-quartenario);
    color: transparent;
}

.formContainer input::placeholder {
    color: var(--color-title-one);
    position: absolute;
    bottom: 20;
    left: 20px;
    transition: transform 0.3s ease;
}

.formContainer input:focus::placeholder {
    transform: translateY(-200%);
}

.sidebar {
    position: fixed;
    padding: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 430px;
    width: 100%;
    background-color: var(--background-color-secondary);
    transition: transform 0.3s ease;
    z-index: 2;
    transform: translateX(100%);
    overflow-y: auto;
}

.sidebar.open {
    transform: translateX(0);
}

.dropbtn {
    display: block;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: var(--color-title-two);
    background-color: var(--background-color-primary);
    border: 1px solid var(--border-box-primary);
    box-shadow: var(--border-box-primary);
    padding: 15px 10px;
    font-size: 0.9rem;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

.dropDownContentProjects {
    display: none;
    position: absolute;
    bottom: 100px;
    width: 100%;
    background-color: var(--background-color-secondary);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 200px;
    overflow-y: auto;
    padding: 10px 0px;
}

.dropDownContentProjects a {
    color: var(--color-title-two);
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid var(--border-box-primary);
    margin: 5px 0px;
}

.dropDownContentProjects a:hover {
    background-color: var(--background-color-primary);
}

.show {
    display: block;
    bottom: 100px;
    width: 100%;
}

.dropdown {
    width: 100%;
}
