@media only screen and (max-width: 1000px) {
    .footerContainer {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .navFooterContainer {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}

.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px 50px;
    gap: 50px;
    background-color: var(--background-color-secondary);
}

.logoFooter > img {
    max-width: 60px;
}

.navFooterContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.navFooterContainer > a {
    text-decoration: none;
    color: var(--color-title-two);
    font-size: 1.1rem;
}

.direitosFooter > p {
    color: var(--color-title-one);
    font-size: 0.9rem;
}
