#root,
html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color-primary);
}

img {
    max-width: 100%;
    display: block;
}

a {
    font-weight: 600;
}

button {
    font-weight: 600;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--background-color-quartenario)
        var(--background-color-quinzenario);
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--background-color-quartenario)
        var(--background-color-quinzenario);
}

body::-webkit-scrollbar-track {
    background: var(--background-color-quinzenario);
}

body::-webkit-scrollbar-thumb {
    background: var(--background-color-quartenario);
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--contrast-color);
}

.input {
    color: var(--color-title-two) !important;
    background-color: var(--background-color-primary) !important;
    border-color:  var(--border-box-primary) !important;
    box-shadow: var(--border-box-primary) !important;
    border-radius: 6px!important;
    box-sizing: border-box !important;
}

.input:focus {
    outline: none !important;
    border-color: var(--background-color-quartenario) !important;
    color: var( --color-title-five) !important;
}

.input::placeholder {
    color: var(--color-title-one) !important;
    position: absolute !important;
    transition: transform 0.3s ease !important;
}

.input:focus::placeholder {
    transform: translateY(-200%) !important;
}
