#root,
html,
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color-primary);
}

img {
    max-width: 100%;
    display: block;
}

a {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

button {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--background-color-quartenario)
        var(--background-color-quinzenario);
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--background-color-quartenario)
        var(--background-color-quinzenario);
}

body::-webkit-scrollbar-track {
    background: var(--background-color-quinzenario);
}

body::-webkit-scrollbar-thumb {
    background: var(--background-color-quartenario);
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--contrast-color);
}

