:root {
    --background-color-header: HSL(0, 0%, 5%);
    --background-color-primary: #28243d;
    --background-color-secondary: #312d4b;
    --background-color-terciario: #7e4ee5;
    --background-color-quartenario: #8c57ff;
    --background-color-quinzenario: #2f2b44;
    --color-title-one: #d0cccf;
    --color-title-two: #ffffff;
    --color-title-three: #ff4c51;
    --color-title-four: #d0cce5;
    --color-title-five: #6c6777;
    --color-title-six: #76728E;
    --box-shadow-primary: rgba(0, 0, 0, 0.1);
    --box-shadow-secondary: rgba(0, 0, 0, 0.2);
    --border-box-primary: hsl(248, 15%, 39%);
    --border-box-secondary: #ff4c51;
    --contrast-color: #8c57ff;
    --contrast-color-two: #6d3ac9;
}
